# Version control
.git
.github/
.gitignore

# Dependencies & build artifacts
__pycache__
dist
build

*.pyc
*.pyo
*.pyd

# Development files
.cache
.config.toml
.config
.coverage
.coveragerc
ci/
devel/
Dockerfile*
.dockerignore
.editorconfig
env.*.toml
etc/
.ipython/
LICENSE
.pytest_cache
.pytest.ini
.python-Version
.ruff_cache
.ruff.toml
towncrier.toml
contrib/
tmp/
.env
.env.local
*.log
coverage
.venv
.venv-*
*.patch
*.diff

# IDE files
.vscode
.idea
*.swp
*.swo
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Documentation
docs/
changelog.d/
*.rst
*.md

# Test files
tests/
